-
  var initials = [
    `I understand that each subject is paid for separately, and a $490.00
    deposit is required to secure my placement in each subject.`,

    `I understand that unless tuition is paid under a separate credit contract,
    tuition is due in full prior to commencement of each subject and
    <span class="campus-name"></span> only accepts check or credit card.`,

    `I understand that failure to remit payment in full prior to the end of the
    first week of class will result in withdrawal from the subject.`,

    `I understand that the knowledge and skills learned in each class are
    clearly described in the course catalog and that experience has shown
    that the best opportunity of employment comes from completing the entire
    Full Stack Development Program. Only upon completion of the entire program
    will I earn the title "Full Stack Web Developer".`,

    `I grant to <span class="campus-name"></span> absolute and irrevocable right
    and unrestricted permission concerning any photographs that may be taken of
    me or in which I may be included with others, to use, reuse, publish, and
    republish the photographs in whole or in part, individually or in connection
    with other material, in any and all media now or hereafter known, including
    the internet, and for any purpose whatsoever, specifically including
    illustration, promotion, art, editorial, advertising, and trade, without
    restriction as to alteration; and to use my name in connection with any use
    if chosen to do so. I release and discharge <span class="campus-name"></span>
    from any and all claims and demands that may arise out of or in connection
    with the use of the photographs, including without limitation any and all
    claims for libel or violation of any right of publicity or privacy.`
  ];

each initial, idx in initials
  p !{initial}
  .form-group
    label Student Initials
      input.form-control.cursive(type='text', required, style='width:100px;font-size:30px;')

h3 Method of Payment:
.checkbox
  label
    input(type="checkbox")
    span Check
.checkbox
  label
    input(type="checkbox")
    span Credit Card
.checkbox
  label
    input(type="checkbox")
    span Other
p.
  Any holder of this consumer credit contract is subject to all claims and
  defenses which the debtor could assert against the seller of goods or services
  obtained pursuant hereto or with the proceeds hereof. Recovery hereunder by
  the debtor shall not exceed the amounts paid by the debtor hereunder.

h2 Refund Policies:
h3 Cancellation Policy
p.
  A full refund will be made to any student who cancels the enrollment contract
  for any subject within 72 hours (until midnight of the third day excluding
  Saturdays, Sundays and legal holidays) after the enrollment contract is
  signed. If the student is not scheduled for three class days during the first
  week, a full refund will be made to any student who cancels the subject
  enrollment within the student’s first three scheduled class days, except that
  the school may retain not more than $100 in any administrative fees charged
  and items of extra expense that are necessary for the portion of the program
  attended and stated separately on the enrollment agreement.
h3 Refund Policy
ol
  li.
    Refund computations will be based on scheduled course time of classes
    through the last documented day of an academically related activity. Leaves
    of absence, suspensions and school holidays will not be counted as part of
    the scheduled classes.
  li The effective date of termination for refund purposes will be the earliest of the following:
    ol(type='a')
      li the date of termination, if the student is terminated by the school;
      li the date of receipt of written notice from the student; or
      li.
        the first of the following dates when the student’s participation in an
        academically related activity cannot be documented: at the end of the
        first week of each academic term, at the end of the first month of each
        academic term, at the midpoint of each academic term, and at the end of
        each academic term.
    li.
      If tuition and fees are collected in advance of entrance, and if after
      expiration of the 72 hour cancellation privilege the student does not
      enter school, not more than $100 in any administrative fees charged shall
      be retained by the school for the entire residence program.

    li.
      If a student enters a residence and withdraws or is otherwise terminated,
      the school or college may retain not more than $100 in administrative fees
      charged for the entire program. The minimum refund of the remaining
      tuition and fees will be the pro rata portion of tuition, fees, and other
      charges that the number of hours remaining in the portion of the course or
      program for which the student has been charged after the effective date of
      termination bears to the total number of hours in the portion of the
      course or program for which the student has been charged, except that a
      student may not collect a refund if the student has completed 75 percent
      or more of the total number of hours in the portion of the program for
      which the student has been charged on the effective date of termination.*
      <br />
      <small>
        * More simply, the refund is based on the precise number of course time
        hours the student has paid for, but not yet used, at the point of
        termination, up to the 75% completion mark, after which no refund is due.
        Form CSC-1040R-NA provides the precise calculation.
      </small>

    li.
      Refunds for items of extra expense to the student, such as books, tools,
      or other supplies should be handled separately from refund of tuition and
      other academic fees. The student will not be required to purchase
      instructional supplies, books and tools until such time as these materials
      are required. Once these materials are purchased, no refund will be made.
      For full refunds, the school can withhold costs for these types of items
      from the refund as long as they were necessary for the portion of the
      program attended and separately stated in the enrollment agreement. Any
      such items not required for the portion of the program attended must be
      included in the refund.

    li.
      A student who withdraws for a reason unrelated to the student’s academic
      status after the 75 percent completion mark and requests a grade at the
      time of withdrawal shall be given a grade of “incomplete” and permitted to
      reenroll in the course or program during the 12-month period following the
      date the student withdrew without payment of additional tuition for that
      portion of the course or program.

    li A full refund of all tuition and fees is due and refundable in each of the following cases:
      ol(type='a')
        li an enrollee is not accepted by the school;
        li.
          if the course of instruction is discontinued by the school and this
          prevents the student from completing the course; or
        li.
          if the student's enrollment was procured as a result of any
          misrepresentation in advertising, promotional materials of the school
          or representations by the owner or representatives of the school. A
          full or partial refund may also be due in other circumstances of
          program deficiencies or violations of requirements for career schools
          and colleges.

h3 Refund Policy for Students Called to Active Military Service
ol(start='8')
  li.
    A student of the school or college who withdraws from the school or college
    as a result of the student being called to active duty in a military service
    of the United States or the Texas National Guard may elect one of the
    following options for each program in which the student is enrolled:
    <ol type="a">
      <li>
        if tuition and fees are collected in advance of the withdrawal, a pro
        rata refund of any tuition, fees, or other charges paid by the student
        for the program and a cancellation of any unpaid tuition, fees, or other
        charges owed by the student for the portion of the program the student
        does not complete following withdrawal;
      </li>
      <li>
        a grade of incomplete with the designation "withdrawn-military" for the
        courses in the program, other than courses for which the student has
        previously received a grade on the student's transcript, and the right
        to re-enroll in the program, or a substantially equivalent program if
        that program is no longer available, not later than the first
        anniversary of the date the student is discharged from active military
        duty without payment of additional tuition, fees, or other charges for
        the program other than any previously unpaid balance of the original
        tuition, fees, and charges for books for the program; or
      </li>
      <li>
        the assignment of an appropriate final grade or credit for the courses
        in the program, but only if the instructor or instructors of the program
        determine that the student has:
        <ol type="i">
          <li>
            satisfactorily completed at least 90 percent of the required
            coursework for the program; and
          </li>
          <li>
            demonstrated sufficient mastery of the program material to receive
            credit for completing the program.
          </li>
        </ol>
      </li>
    </ol>
  li.
    The payment of refunds will be totally completed such that the refund
    instrument has been negotiated or credited into the proper account(s)
    within 60 days after the effective date of termination.

h2 Notices:
ol
  li Do not sign this agreement before you have read it or if it contains any blank spaces.
  li.
    This agreement is a legally binding instrument once the agreement is
    accepted by You and accepted, signed, and dated by the authorized official of
    <span class="campus-name"></span> or the admissions officer at <span class="campus-name"></span>
    principal place of business.
  li You are entitled to an exact copy of this agreement and any disclosure pages you sign.
  li.
    This agreement, its attachments, addends, and <span class="campus-name"></span>
    catalog constitute the entire agreement between the student and
    <span class="campus-name"></span>.
  li.
    Although <span class="campus-name"></span> will provide placement assistance,
    <span class="campus-name"></span> does not guarantee job placement to graduates upon
    program completion or upon graduation.
  li.
    <span class="campus-name"></span> reserves the right to reschedule the program start
    date with the number of students scheduled is too small.
  li.
    <span class="campus-name"></span> reserves the right to terminate a students'
    training for unsatisfactory progress, nonpayment of tuition or failure to
    abide established standards of conduct.
  li.
    <span class="campus-name"></span> does not guarantee the transferability of credits
    to a college, university or institution. Any decision on the comparability,
    appropriateness and applicability of credit and whether they should be
    accepted is the decision of the receiving institution.

h2 Acknowledgments
h3 Student Acknowledgments
-
  var acknowledgements = [
    `I hereby acknowledge receipt of <span class="campus-name"></span>’s catalog dated
    <span class="current-date"></span> which contains information describing programs offered, and
    equipment/supplies provides. <span class="campus-name"></span> catalog is
    included as part of this enrollment agreement and I acknowledge that I have
    received a copy of this catalog.`,

    `I have carefully read and received an exact copy of this enrollment agreement.`,

    `I understand that <span class="campus-name"></span> may terminate my enrollment if
    I fail to comply with attendance, academic, and financial requirements or if
    I fail to abide by established standards of conduct, as outlined in
    <span class="campus-name"></span> catalog.`,

    `I understand that <span class="campus-name"></span> does not guarantee job
    placement to graduates upon program completion or upon graduation.`
  ];
ol
  each acknowledgement, idx in acknowledgements
    li
      div !{acknowledgement}
      .form-group
        label Student Initials
          input.form-control.cursive(type='text', required, style='width:100px;font-size:30px;')

h4.text-center.
  APPROVED AND REGULATED BY THE TEXAS WORKFORCE COMMISSION, CAREER SCHOOLS AND
  COLLEGES, <span class="city"></span>, TEXAS.

h2 Agreed
h3 Contract Acceptance
p.
  I, the undersigned, have read and understand this agreement and acknowledge
  receipt of a copy. It is further understood and agreed that this agreement
  supersedes all prior or contemporaneous verbal or written agreements and may
  not be modified without the written agreement of the student and
  <span class="campus-name"></span>. I also understand that if I default upon this
  agreement I will be responsible for payment of any collection fees or attorney
  fees incurred by <span class="campus-name"></span>.
p.
  My signature below signifies that I have read and understand all aspects of
  this agreement and do recognize my legal responsibilities in regard to this
  contract.

p.
  Signed this <span class="current-day"></span> day of <span class="current-month"></span>, <span class="current-year"></span>

.row
  .col-xs-7
    .form-group
      label Signature of Student
        input.form-control.cursive(type='text', required, style='font-size:30px;')
    .form-group
      label Signature of School Official
        input.form-control.cursive#official-signature(type='text', required, disabled, style='font-size:30px;')
  .col-xs-5
    .form-group
      label Date
        input.form-control.date-picker.cursive(type='text', required, style='font-size:20px;')
    .form-group
      label Date
        input.form-control.current-date.cursive(type='text', required, disabled, style='font-size:20px;')
