#apps.modal.bottom-sheet
  .modal-content
    h4 Apps
    a.btn-flat(href='https://chat.austincodingacademy.com', target='blank')
      i.fa.fa-rocket
      span &nbsp;Chat
    a.btn-flat(href='https://calendar.austincodingacademy.com', target='blank')
      i.fa.fa-calendar
      span &nbsp;Calendar
    a.btn-flat(href='https://jobs.austincodingacademy.com', target='blank')
      i.fa.fa-usd
      span &nbsp;Jobs
    a.btn-flat(href='https://discourse.austincodingacademy.com', target='blank')
      i.fa.fa-group
      span &nbsp;Discourse
    a.btn-flat(href='https://student.austincodingacademy.com', target='blank')
      i.fa.fa-book
      span &nbsp;Handbook
    a.btn-flat(href='https://jitsi.austincodingacademy.com', target='blank')
      i.fa.fa-video-camera
      span &nbsp;Conference
