.panel.panel-default
  .panel-heading
    h3.panel-title Course Cost
  .panel-body
      table.table
        thead
          tr
            th Item
            th.text-right Cost/Tuition
        tbody
          tr
            td 101 Intro to Web (10 weeks) - 50 hours of instruction
            td.text-right.austin.sanantonio.hidden.campus $2,990.00
            td.text-right.dallas.houston.hidden.campus $3,490.00
          tr.austin.hidden
            td 211 JavaScript Full Stack (10 weeks) - 50 hours of instruction
            td.text-right.austin.hidden.campus $2,990.00
            td.text-right.hidden.campus $3,490.00
          tr.austin.hidden
            td 311 JavaScript Full Stack (10 weeks) - 50 hours of instruction
            td.text-right.austin.hidden.campus $2,990.00
            td.text-right.hidden.campus $3,490.00
          tr.sanantonio.dallas.houston.hidden
            td 221 C# &amp; .NET Full Stack (10 weeks) - 50 hours of instruction
            td.text-right.sanantonio.hidden.campus $2,990.00
            td.text-right.dallas.houston.hidden.campus $3,490.00
          tr.sanantonio.dallas.houston.hidden
            td 321 C# &amp; .NET Full Stack (10 weeks) - 50 hours of instruction
            td.text-right.sanantonio.hidden.campus $2,990.00
            td.text-right.dallas.houston.hidden.campus $3,490.00
          tr
            td Total Hours of Instruction
            td.text-right 150 Hours
          tr
            td Books and Materials Fees
            td.text-right.austin.hidden.campus $0.00
            td.text-right.sanantonio.houston.dallas.hidden.campus $204.00
        tfoot
          tr
            th Total Cost of the Program
            th.text-right.austin.hidden.campus $8,970.00
            th.text-right.sanantonio.hidden.campus $9,174.00
            th.text-right.dallas.houston.hidden.campus $10,674.00
          tr
            th Deposit due PRIOR TO COMMENCEMENT of each subject
            th.text-right $490.00
