.panel.panel-default
  .panel-heading
    h3.panel-title Course Cost
  .panel-body
      table.table
        thead
          tr
            th Item
            th.text-right Cost/Tuition
        tbody
          tr
            td FSWD 101 - Intro (10 weeks)
            td.text-right.austin.sanantonio.hidden.campus $2,990.00
            td.text-right.dallas.houston.hidden.campus $3,490.00
          tr
            td FSWD 102 - Intermediate (10 weeks)
            td.text-right.austin.sanantonio.hidden.campus $2,990.00
            td.text-right.dallas.houston.hidden.campus $3,490.00
          tr
            td FSWD 103 - Advanced (10 weeks)
            td.text-right.austin.sanantonio.hidden.campus $2,990.00
            td.text-right.dallas.houston.hidden.campus $3,490.00
          tr
            td Books and Supplies
            td.text-right.austin.hidden.campus $0.00
            td.text-right.sanantonio.houston.dallas.hidden.campus $204.00
        tfoot
          tr
            th Total Cost of the Program
            th.text-right.austin.hidden.campus $8,970.00
            th.text-right.sanantonio.hidden.campus $9,174.00
            th.text-right.dallas.houston.hidden.campus $10,674.00
          tr
            th Deposit due PRIOR TO COMMENCEMENT of each subject
            th.text-right $490.00
