<link rel="apple-touch-icon" sizes="180x180" href="/favicons/austin/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/austin/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/austin/favicon-16x16.png">
<link rel="manifest" href="/favicons/austin/site.webmanifest">
<link rel="mask-icon" href="/favicons/austin/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/favicons/austin/favicon.ico">
<meta name="apple-mobile-web-app-title" content="Campus Manager">
<meta name="application-name" content="Campus Manager">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/favicons/austin/mstile-144x144.png">
<meta name="msapplication-config" content="/favicons/austin/browserconfig.xml">
<meta name="theme-color" content="#ffffff">