// Modal Trigger
.fixed-action-btn(style='bottom: 15px; right: 15px;')
  a.btn-floating.waves-effect.waves-light.btn-floating(href='#feedback')
    i.material-icons.right announcement
// Modal Structure
#feedback.modal
  div(style="position: relative;padding-bottom: 56.25%;padding-top: 35px;height: 0;overflow: hidden; min-height: 400px")
    iframe#feedback-iframe(src='/feedback', frameborder=0, style="position: absolute; top:0; left: 0; width: 100%; height: 100%;")
