script(type='text/javascript').
  $(function() {
    $('#feedback').modal({
      complete: function(modal, trigger) {
        document.getElementById('feedback-iframe').contentWindow.location = '/feedback';
      },
    });
  });
