button.btn.btn-warning.btn-feedback(type='button', data-toggle='modal', data-target='#feedback-modal')
  i.fa.fa-comments-o(aria-hidden='true')

.modal#feedback-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4.modal-title Feedback
      .modal-body
        .iframe-wrapper#feedback-iframe
          .h-iframe
            .ratio#ratio
            iframe(src='/feedback', frameborder=0)
        .hidden#thank-you-feedback
          .alert.alert-success.text-center(role='alert')
            h3(style='margin-top:10px') Thanks for your feedback!
script(type='text/javascript').
  window.addEventListener("message", function(e) {
    if (typeof e.data === 'string' && e.data.indexOf('feedback-iframe') > -1) {
      document.getElementById('feedback-iframe').className = 'hidden';
      document.getElementById('thank-you-feedback').className = '';
    }
    if (typeof e.data === 'string' && e.data.indexOf('resized') > -1) {
      document.getElementById('ratio').setAttribute('style', 'min-height: ' + e.data.split('-')[1] + 'px');
    }
  });
          
