doctype html
html
  head
    title Austin Coding Academy
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css')
    link(rel='stylesheet', href='css/app.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
  body
    div(data-bootstrap="#{user}")
    .container#container
    #modal-container
    script(type='text/javascript', src='js/bundle.js')
