doctype html
html
  head
    title Austin Coding Academy
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')
    if env == 'production'
      link(rel='stylesheet', href='{{cache-break:css/app.css}}')
    else
      link(rel='stylesheet', href='css/app.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  body
    div(data-bootstrap="#{user}")
    .container#container
    #modal-container
    if env == 'production'
      script(type='text/javascript', src='{{cache-break:js/bundle.js}}')
    else
      script(type='text/javascript', src='js/bundle.js')
        
