doctype html
html(lang='us-en')
  head
    title Campus Manager: Course Management Tool for ACA
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='mobile-web-app-capable' content='yes')
    meta(name='csrf-token', content=csrfToken)
    include favicon
    if env == 'production'
      link(rel='stylesheet', href='{{cache-break:css/app.css}}')
    else
      link(rel='stylesheet', href='css/app.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  body
    div(data-bootstrap=user)
    .container#container
    #modal-container
    include feedback
    script(type='text/javascript', src='https://apis.google.com/js/client.js')
    if env == 'production'
      script(type='text/javascript', src='{{cache-break:js/bundle.js}}')
    else
      script(type='text/javascript', src='js/bundle.js')
    include feedback-js
