doctype html
html(lang='us-en')
  head
    title Campus Manager
    meta(name="description", content="Learning Management System and Course Management Tool")
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='mobile-web-app-capable' content='yes')
    block styles
    if env == 'production'
      if campusKey == 'sanantonio'
        include favicon-sanantonio
      else if campusKey == 'dallas'
        include favicon-dallas
      else if campusKey == 'houstontx'
        include favicon-houston
      else
        include favicon-austin
      link(rel='stylesheet', href='{{cache-break:css/app.css}}')
    else
      link(rel='stylesheet', href='/css/app.css')
  body
    include top-bar
    .container-fluid
      .row
        .col-xs-12.alerts
          if (messages)
            if (messages.info)
              .alert.alert-info(role='alert')
                button.close(type='button', data-dismiss='alert', aria-label='Close')
                  span(aria-hidden='true') ×
                span=  messages.info
            if (messages.error)
              .alert.alert-danger(role='alert')
                button.close(type='button', data-dismiss='alert', aria-label='Close')
                  span(aria-hidden='true') ×
                span= messages.error
      block content
      br
      br
    include feedback
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
    script(type='text/javascript').
      $(function() {
        $(document).ajaxError(function(e, response) {
          if (response.status === 401) {
            window.location.replace('/login');
          } else {
            $('.alerts').append(
              '<div class="alert alert-success" role="alert">' + 
              '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                '<span aria-hidden="true">&times;</span>' +
              '</button>' + JSON.parse(response.responseText).message +
            '</div>'
            );
            $('.alert').alert();
          }
        });    
      });
    block bottom_scripts
