doctype html
html(lang='us-en')
  head
    title Campus Manager: Course Management Tool for ACA
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='mobile-web-app-capable' content='yes')
    include favicon
    if env == 'production'
      link(rel='stylesheet', href='{{cache-break:css/app.css}}')
    else
      link(rel='stylesheet', href='/css/app.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  body
    include top-bar
    // Your content goes here
    .container
      .row
        .col.s12
          if (messages.info)
            .card-panel.yellow
              span.white-text= messages.info
          if (messages.error)
            .card-panel.red
              span.white-text= messages.error
      block content
    include feedback
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')
    script(type='text/javascript').
      $(function() {
        $(".button-collapse").sideNav();

        $(document).ajaxError(function(e, xhr) {
          if (xhr.status === 401) {
            window.location.replace('/login');
          }
        });
      });
    include feedback-js
    block bottom_scripts
