doctype html
html(lang='us-en')
  head
    title Campus Manager: Course Management Tool for ACA
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='mobile-web-app-capable' content='yes')
    include favicon
    if env == 'production'
      link(rel='stylesheet', href='{{cache-break:css/app.css}}')
    else
      link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  body
    include top-bar
    // Your content goes here
    .container
      .row
        .col-xs-12.alerts
          if (messages.info)
            .alert.alert-info(role='alert')
              button.close(type='button', data-dismiss='alert', aria-label='Close')
                span(aria-hidden='true') ×
              span=  messages.info
          if (messages.error)
            .alert.alert-danger(role='alert')
              button.close(type='button', data-dismiss='alert', aria-label='Close')
                span(aria-hidden='true') ×
              span= messages.error
      block content
    include feedback
    include apps
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/10.0.2/js/intlTelInput.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
    script(type='text/javascript').
      $(function() {
        $(document).ajaxError(function(e, response) {
          if (response.status === 401) {
            window.location.replace('/login');
          } else {
            $('.alerts').append(`
              <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                ${JSON.parse(response.responseText).message}
              </div>
            `);
            $('.alert').alert();
          }
        });
      });
    block bottom_scripts
