extends layout

block content
  .row
    .col-xs-12.col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading Login
        .panel-body
          form(action='/login', method='post')
            input(type='hidden', name='_csrf', value=csrfToken)
            .form-group
              label(for='email') Email address
              input#email.form-control(type='email', name='username', placeholder='Email')

            .form-group
              label(for='password') Password
              input#password.form-control(type='password', name='password', placeholder='Password')
            button.btn.btn-primary.btn-lg.btn-block(type='submit', name='action')
              i.fa.fa-envelope
              span &nbsp;Login with Email
            if campusKey == 'austin'
              br
              .text-center or
              br
              a.btn.btn-google.btn-lg.btn-block(href='/auth/google')
                i.fa.fa-google
                span &nbsp;Login with Google
        .panel-footer.text-right
          a(href='/reset') Need to reset your password?
