extends layout

block content
  h2 Login
  form(action='/login', method='post')
    input(type='hidden', name='_csrf', value=csrfToken)
    .row
      .input-field.col.s12
        input#email.validate(type='email', name='username')
        label(for='email') Email
    .row
      .input-field.col.s12
        input#password.validate(type='password', name='password')
        label(for='password') Password
    button.btn.waves-effect.waves-light(type='submit', name='action') Submit
      i.material-icons.right send
    br
    br
    a.btn.waves-effect.waves-light.red.darken-1(href='/auth/google', style=)
      i.fa.fa-google.fa-2x
      span &nbsp;Login with Google
    br
    br
    .row
      .col.s12.right-align
        a(href='/reset') Need to reset your password?
