extends layout

block content
  h2 Reset Password
  form(method="POST" action="?_method=PUT")
    input(type='hidden', name='_csrf', value=csrfToken)
    .row
      .input-field.col.s12
        input#password(type='password', name='password')
        label(for='password') New Password
    button.btn.waves-effect.waves-light(type='submit', name='action') Submit
      i.material-icons.right send
