extends layout

block content
  .row
    .col-xs-12.col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading Register
        .panel-body
          form(action='/register' + id, method='post')
            input(type='hidden', name='_csrf', value=csrfToken)
            .form-group
              label(for='first-name') First name
              input#first-name.form-control(type='text', name='first_name', required, placeholder='First name')
            .form-group
              label(for='last-name') Last name
              input#last-name.form-control(type='text', name='last_name', required, placeholder='Last name')
            .form-group
              label(for='phone') Phone (555-555-5555)
              input#phone.form-control(type='tel', name='phone', pattern='\\d{3}[\\-]\\d{3}[\\-]\\d{4}', required, placeholder='555-555-5555')
            .form-group
              label(for='email') Email
              input#email.form-control(type='email', name='username', required, placeholder='Email')
            .form-group
              label(for='password') Password (6 character minimum)
              input#password.form-control(type='password', name='password', pattern='.{6,}', required, placeholder='Password')
            button.btn.btn-primary.btn-lg.btn-block(type='submit', name='action') Register
