extends layout

block content
  form(action='/register/' + id, method='post')
    .row
      .col-xs-12.col-md-6.col-md-offset-3
        input(type='hidden', name='_csrf', value=csrfToken)
        input(type='hidden', name='campus', value='Austin')
        .panel.panel-default
          .panel-heading
            h3.panel-title Account Information
          .panel-body
            .form-group
              label(for='first-name') First name
              input#first-name.form-control(type='text', name='first_name', required, placeholder='First name')
            .form-group
              label(for='last-name') Last name
              input#last-name.form-control(type='text', name='last_name', required, placeholder='Last name')
            .form-group
              label(for='email') Email
              input#email.form-control(type='email', name='username', required, placeholder='Email')
            .form-group
              label(for='phone') Phone
              input#phone.form-control.phone(type='tel', name='phone', required, pattern='\\(?\\d{3}\\)? ?\\d{3}[\\-]\\d{4}')
            .form-group
              label(for='password') Password (6 character minimum)
              input#password.form-control(type='password', name='password', pattern='.{6,}', required, placeholder='Password')
        button.btn.btn-primary.btn-lg.btn-block(type='submit', name='action') Register

block bottom_scripts
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/10.0.2/js/intlTelInput.min.js')
  script(type='text/javascript').
    $('.phone').each(function() {
      $(this).intlTelInput({
        onlyCountries: ['us'],
        utilsScript: 'https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/9.0.6/js/utils.js'
      });
      var $that = $(this);
      $(this).on('change', function() {
        $that.intlTelInput('setNumber', $that.val());
      });
    });

    if (window.location.href.includes('lubbock')) {
      $('[name="campus"]').val('Lubbock')
    }
