nav
  .nav-wrapper
    a.brand-logo(href='#!') Austin Coding Academy
    a.button-collapse(href='#', data-activates='mobile-demo')
      i.material-icons menu
    ul.right.hide-on-med-and-down
      li
        a(href='/login') Login
      li
        a(href='/register') Register
    ul#mobile-demo.side-nav
      li
        a(href='/login') Login
      li
        a(href='/register') Register
