@charset 'utf-8';

$fa-font-path: '/fonts/fontawesome/';

@import
  '../../../node_modules/materialize-css/dist/css/materialize',
  '../../../node_modules/font-awesome/scss/font-awesome.scss',
  './modal',
  './youtube_uploader';

.z-top {
  z-index: 1004;
}

nav .brand-logo {
  margin-left: 1rem;
}

.trim-margin {
  margin: 0 !important;
}

.trim-padding {
  padding: 0 !important;
}

.nowrap {
  white-space: nowrap;
}

@media only screen and (min-width: 993px) {
  .container {
      width: 90%;
  }
}

@media only screen and (min-width: 601px) {
  .container {
      width: 90%;
  }
}

.disabled {
  opacity: 0.75;
}

.hidden {
  display: none;
}

@for $i from 0 through 69 {
  .score#{$i} {
    color: #a20000;
  }
}
@for $i from 70 through 79 {
  .score#{$i} {
    color: #a22b00;
  }
}
@for $i from 80 through 89 {
  .score#{$i} {
    color: #594007;
  }
}
@for $i from 90 through 99 {
  .score#{$i} {
    color: green;
  }
}
.score100 {
  color: blue;
}

.clearfix {
  clear: both;
}

.small-checkbox {
  [type="checkbox"] + &:before, [type="checkbox"]:not(.filled-in) + &:after {
    top: 4px;
    height: 15px;
    width: 15px;
  }
  [type="checkbox"] + & {
    padding-left: 20px;
  }
}
