@charset 'utf-8';

$fa-font-path: '/fonts/fontawesome/';
$icon-font-path: '../../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

@import
  url('https://fonts.googleapis.com/css?family=Lato'),
  './theme/bootstrap/variables',
  './theme/bootstrap/bootstrap',
  '../../../node_modules/codemirror/lib/codemirror',
  '../../../node_modules/react-select/dist/react-select',
  '../../../node_modules/react-datepicker/dist/react-datepicker',
  '../../../node_modules/font-awesome/scss/font-awesome',
  '../../../node_modules/add-to-homescreen/dist/style/addtohomescreen',
  './components/buttons',
  './components/modal',
  './components/youtube-uploader';

*:focus { /* removes Chrome's default outline around input boxes */
  outline-style: none !important;
  outline: 0 !important;
}

.trim-margin {
  margin: 0 !important;
}

.trim-padding {
  padding: 0 !important;
}

.nowrap {
  white-space: nowrap;
}

.disabled {
  opacity: 0.75;
}

.hidden {
  display: none;
}

@for $i from 0 through 69 {
  .score#{$i} {
    color: #a20000;
  }
}
@for $i from 70 through 79 {
  .score#{$i} {
    color: #a22b00;
  }
}
@for $i from 80 through 89 {
  .score#{$i} {
    color: #594007;
  }
}
@for $i from 90 through 99 {
  .score#{$i} {
    color: green;
  }
}
.score100 {
  color: blue;
}

html, body {
  height: 100%;
}

.h-iframe {
  position: relative;
  .ratio {
    display: block;
    width: 100%;
    height: auto;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}

.x-scroll {
  overflow-x: scroll;
  width: 100%;
}

.reactable-filterer {
  display: none;
}

.react-datepicker__input-container {
  display: block;
}

.text-danger {
  color: $brand-danger;
}

.text-success {
  color: $brand-success;
}

.input-group .form-control {
  z-index: 0;
}

.panel-title a {
  cursor: pointer;
}
