@charset 'utf-8';

$fa-font-path: '/fonts/fontawesome/';

@import
  '../../../node_modules/materialize-css/dist/css/materialize',
  '../../../node_modules/font-awesome/scss/font-awesome.scss';

.z-top {
  z-index: 1004;
}

nav .brand-logo {
  margin-left: 1rem;
}

.trim-margin {
  margin: 0 !important;
}

@media only screen and (min-width: 993px) {
  .container {
      width: 90%;
  }
}

@media only screen and (min-width: 601px) {
  .container {
      width: 90%;
  }
}

.disabled {
  opacity: 0.75;
}

.hidden {
  display: none;
}
